POSTGRES_USER=blackfiles
POSTGRES_PASSWORD=change_this_password
POSTGRES_DB=blackfiles
POSTGRES_HOST=blackfiles-db

JWT_SECRET=change_this_to_a_random_hex_string_at_least_32_chars
JWT_EXPIRATION_HOURS=24
DEFAULT_ADMIN_PASSWORD=admin

ROCKET_ADDRESS=0.0.0.0
ROCKET_PORT=4000
